<!DOCTYPE html>
<html lang="en">

<head>  
  
    {{>headerlinks}}
</head>

<body>
    {{>navbar}}

    <!-- main header -->
    <div class="container-fluid main_header">
        <div class="row">
            <div class="col-md-10 col-12 mx-auto ">
                <div class="row">
                    <!-- left side div -->
                    <div class="col-md-6 col-12 main_header_right align-items-center">
                        <figure>
                         <img src="images/mine_pic.jpeg" height="400px" alt="Satyam" title="Satyam Mishra" >
                        </figure>
                     </div>

                    <!--right side div  -->
                    <div class="col-md-6 col-12 main_header_left">
                        <p>Welcome to WeatherBug</p>
                        <h1>I am A<span class="text_clr"> Full Stack Web Developer</span> </h1>
                        <a href="https://satyammishra1718.github.io/satyam_portfolio/"><button>Portfolio</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- footer code -->

    {{>footer}}
</body>

</html>